* {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*login*/

.container {
    max-width: 2050px;
    margin: auto;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}

.section-1-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.currency {
    color: #777777;
}

.section-1-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.section-1-link {
    text-decoration: none;
    color: #777777;
}

.section-1-link:hover {
    color: #00c8c8;
}

.section-1-link:nth-child(2) {
    margin: 0px 80px 0px 35px;
}

.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00c8c8;
}

.cart-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #ffffff;
}

.cart-text {
    padding: 0px 10px 0px 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 45px 0px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-text {
    font-size: 24px;
    text-transform: uppercase;
    color: #222222;
}

.logo-text-bold {
    font-size: 24px;
    font-weight: bold;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 71%;
}

.menu-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 30px;
}

.menu-link {
    text-decoration: none;
    color: #222222;
}

.menu-arrow {
    color: #999999;
}

.banner-wrapper {
    background-color: #333333
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-background-text {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 450px;
    letter-spacing: 200px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(248, 248, 248, 0.25);
}

.banner-image {
    width: 100%;
    height: 100%;
}

.banner-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(51, 51, 51, 0.7);
}

.banner-title {
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
}

.title-bold {
    font-size: 48px;
    font-weight: bold;
}

.banner-text {
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
}

.location-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.locations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 60px 0px;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #575153;
    width: 30%;
}

.location-name {
    font-size: 18px;
    font-weight: bold;
}

.location-address {
    padding: 30px 0px 20px 0px;
    font-weight: 500;
}

.location-text {
    padding-bottom: 30px;
}

.location-button {
    border: 2px solid #737373;
    background: transparent;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #737373;
    outline: none;
}

.location-button:hover {
    border-color: #00c8c8;
    background: #00c8c8;
    color: #ffffff;
}

.location-details {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 120px;
}

.location-maps {
    position: absolute;
    left: 0;
    height: 100%;
    width: 60%;
}

.location-map {
    display: none;
    width: 100%; 
    height: 100%;
    border: none;
}

.location-map-active {
    display: block;
}

.locations-info {
    margin-left: 60%;
    width: 40%;
    background: #f8f8f8;
}

.location-info {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 40px;
}

.location-info-active {
    display: flex;
}

.location-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.location-list-item {
    position: relative;
    left: 0;
    padding: 8px 0px;
    width: 100%;
    text-align: start;
}

.location-list-icon  {
    margin-right: 10px;
}

.social-icon {
    width: 38px;
    margin: 60px 5px 90px 5px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    border-radius: 50%;
    background: #727272;
}

.social-icon:first-child {
    margin: 60px 5px 9px 0px;
}

.social-icon:last-child {
    margin: 60px 0px 9px 5px;
}








.information-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 35px 0px 25px 0px;;
}

.information-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 30px 0px;
}

.information-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 230px;
}

.column-name {
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #575153;
}

.column-list {
    list-style: none;
}

.column-list-item {
    padding: 10px 0px;
}

.column-list-link {
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    color: #727272;
}

.column-list-link:hover {
    color: #00c8c8;
}

.column-list-text {
    font-size: 14px;
    text-transform: capitalize;
    color: #727272;
}

.information-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    padding: 60px;
}

.content-award {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #333333;
}

.award-title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.award-text {
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.content-networks {
    background: #00c8c8;
}

.networks-icon {
    font-size: 38px;
    padding: 25px;
    color: #ffffff;
}

.copyright-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333333;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 15px 0px;
}

.design {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    font-weight: bold;
    color: #777777;
}

.design-text:first-child {
    padding-right: 15px;
}